# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
#### 1. Python
#### 2. R
#### 3. SQL

#### Some of the popular languages that Data Scientists use are:
#### 1. Matplotlib
#### 2. Pandas
#### 3. Numpy

|Data Science Tools|
|------------------|
|1. Apache Spark   |
|2. Hadoop         |
|3. MongoDB        |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

#### **Objectives**
* Python
* R
* SQL

## Author:
vishnu_tumuluru